html {
    margin: 0;
}

body {
    margin-top      : 5%;
    background-image: url(https://hdqwalls.com/download/artistic-cloud-rocket-12k-artwork-y7-1920x1080.jpg);

    background-size      : 100%;
    background-attachment: fixed;
    background-repeat    : no-repeat;
    height               : 100vh;

    .container {
        margin-top     : auto;
        max-width      : 100%;
        display        : flex;
        flex-direction : row;
        justify-content: space-evenly;


        .list {
            border        : 1px solid black;
            border-radius : 10px;
            width         : 60%;
            display       : flex;
            flex-direction: column;
            flex-wrap     : wrap;
            height        : auto;


            .list-item-container {
                display       : flex;
                background    : #FFFFFC;
                flex-direction: column;
                height        : 500px;
                overflow-y    : auto;
                opacity       : .8;
                z-index       : 0;

                .item {
                    border-radius: 5px;
                    margin       : 1% 1%;
                    background   : #C1292E;
                    width        : 20%;
                    text-align   : center;
                    opacity      : 1;
                    z-index      : 1;
                    font-family  : 'Roboto Condensed',
                        sans-serif;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .completed {
                    opacity        : .5;
                    text-decoration: line-through;
                }
            }

            h2 {
                text-align: center;
                color     : white;
                font-family: 'Gugi',
                    cursive;
                font-size  : 50px;
                text-shadow: 0 0 5px #87F1FF;
            }

            .form-submit {
                display                   : flex;
                justify-content           : space-around;
                background                : #3F88C5;
                opacity                   : .8;
                border-bottom-left-radius : 10px;
                border-bottom-right-radius: 10px;
                height                    : 70px;
                width                     : 100%;
                align-items               : center;


                input {
                    font-family: 'Roboto Condensed',
                        sans-serif;
                    border-radius: 5px;
                    height       : 20px;
                    width        : 200px;
                }

                button {
                    font-family: 'Roboto Condensed',
                        sans-serif;
                    background   : white;
                    border-radius: 5px;
                    height       : 25px;
                    width        : 200px;
                }
            }

        }


    }

}